body{
    background: url("https://wallpaperaccess.com/full/187161.jpg");
    background-size: cover;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.heading{
    font-family: 'Lobster', cursive;
}